<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexvargas.quickjobs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListsActivity"
            android:label="@string/title_activity_lists"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZipCodeListActivity"
            android:label="@string/title_activity_zip_code_list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".TermUseActivity"
            android:label="@string/title_activity_term_use"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PiracyPolicyActivity"
            android:label="@string/title_activity_piracy_policy"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>